body {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Capriola', sans-serif;
  font-size: 50px;
  line-height: 10px;
}

ul {
    text-align: justify;
    display: block;
    margin: auto;
    list-style: none;
    list-style-position: inside;
}