body {
  background-color: #4951EC;
  background-image: url("/bgv2.png");
  background-size: 700px;
  font-family: 'Lato', sans-serif;
  color: #fff;
  position: fixed;
  /* bring your own prefixes */
}

a:link, a:visited, a:focus, a:active {
  color: #4951EC;
  text-decoration: none;
  /*#30085e;*/
}

p {
  display: none;
  text-align: left;
  position: inherit;
  color: #4951EC;
}

p + br {
  bottom: 40px;
  left: 50px;
}

.tooltip {
    font-size: 45px;
    text-align: left;
    padding-left: 30px;
    position: static;
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #fff;
    left: 200px;
    color: #4951EC;
    text-align: center;
    border: 1.25px solid #000;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    display: inline;
    text-decoration: underline;
    font-family: 'FantasqueSansMonoRegular', monospace;
    font-size: 20px;

    opacity: 0;
    transition: opacity 0.4s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

h1 {
  font-family: 'Capriola', sans-serif;
  font-size: 50px;
  text-align: center;
  /*letter-spacing: 2.5px;*/
  line-height: 10px;
  /*border-bottom: 1.25px solid #2d1a44;*/
}

ul {
    width: 300px;
    text-align: justify;
    display: block;
    margin: auto;
    list-style: none;
    list-style-position: inside;
}

li::before {
    content: "👾 ";
}

#main {
  display: block;
  margin: auto;
  width: 375px;
  height: 375px;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #4951EC;
  border-radius: 75px;
  /*border: 1.25px solid #2d1a44;*/
  border:none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
