body {
	background-color: #fff;
	font-family: dico-mono, mono;
	font-weight: 400;
	font-style: italic;
}

h1 {
	font-family: dico-mono-script, mono;
	font-weight: 700;
	font-style: normal;
	font-size: 50px;
	line-height: 10px;
}

ul {
    text-align: justify;
    display: block;
    margin: auto;
    list-style: none;
    list-style-position: inside;
}